.container {
  margin: 0px;
  padding: 0px;
  height: 200px;
  width: 100%;
}
.container_in {
  height: 300px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 12px;
  width: 50%;
  box-shadow: 2px 2px 10px 2px gray;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 20rem;
  margin-top: 30px;
}
.container button {
  height: 35px;
  width: 100px;
  margin-top: 50px;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.container a {
  text-decoration: none;
  font-family: sans-serif;
}
